set completion-ignore-case On
# set editing-mode vi

# Arrow keys match what you've typed so far against your command history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

# Keybinds
"\C-ff": " ,tmux-session\n"  # (F)ind projects
"\C-fn": " newsboat\n"       # (N)ews
"\C-fm": " neomutt\n"        # (M)ail
