set completion-ignore-case On

# Arrow keys match what you've typed so far against your command history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

# Keybinds
"\C-fr": ",radio\n"
"\C-fn": "newsboat\n"
"\C-fj": ",twitch\n"
"\C-fm": "neomutt\n"
"\C-fc": ",checkmail\n"

# Keybings shared with tmux
"\C-ff": ",tmux-session\n"
"\C-fgg": "lazygit\n"
"\C-fz": "zk edit -i\nclear\n"
"\C-ft": ",task\n"
